.box {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.title {
  color: #0000ff;
  font-weight: 900;
  font-size: 36px;
  text-transform: uppercase;
}

.appear {
  transform: translateX(-100%);
}

.appearActive {
  transform: translateX(0);
  transition: transform 500ms linear;
}

.enter {
  transform: translateX(-100%);
}

.enterActive {
  transform: translateX(0);
  transition: transform 250ms linear;
}
.exit {
  transform: translateX(0);
}

.exitActive {
  transform: translateX(-100%);
  transition: transform 250ms linear;
}
